span.pstmp {
    background: whitesmoke;
    display: inline-block;
    font-size: 0.875em;
    margin-bottom: 1em;
    padding: 1em 1em 0.75em 1.125em;
}

#search_res_tb td {
    font-size: 0.875em;
}

/* below is imported from 201608/17/tmp.css */
del {
    color: gray;
    margin-left: 0.25em;
    margin-right: 0.375em;
    text-decoration: line-throuth;
}
#old_posts_wrap {
    margin-bottom: 0.5em;
    width: 102.5%;
    overflow: auto;
}
#old_posts {
    border-collapse: collapse;
}
#old_posts th {
    background: WhiteSmoke;
    font-size: 0.9em;
    font-weight: normal;
    padding-left: 1em;;
    padding-right: 1em;
}
#old_posts th, td {
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-width: 1px 0;
    font-size: 0.9em;
    line-height: 1.5;
    padding-top: 0.625em;
    padding-bottom: 0.5em;
    text-align: left;
    white-space: nowrap;
}
#old_posts tr td:nth-child(n+2) {
    padding-left: 1em;
}
#old_posts tr td:nth-child(2) {
    padding-right: 0.75em;
}
#old_posts tr.hidden {
    display: none;
}
#old_posts tr.hidden td:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
#old_posts i.icon-external-link {
    margin-left: 0.25em;
}
br.pad {
    font-size: 1.25em;
    vertical-align: top;
}
#toggle_links {
    font-size: 0.75em;
    margin-left: 1em;
    vertical-align: 1px;
}
#toggle_links table {
    border: lightblue solid 1px;
    border-collapse: collapse;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    table-layout: fixed;
    vertical-align: -2px;
}
#toggle_links table td {
    border: 0;
}
#toggle_links table td:nth-child(1) {
    background: lightblue;
    width: 10px;
}
#toggle_links table td:nth-child(n+2) {
    background: white;
    width: 0px;
}
#search_wrap input {
    color: lightgray;
    font-size: 1rem;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0.25em;
    vertical-align: 0px;
}
#search_wrap button:nth-of-type(1) {
    margin-left: 0.25em;
}
#search_wrap button:nth-of-type(2) {
    margin-left: 1em;
}
