br.pad {
    font-size: 1.25em;
    vertical-align: top;
}
br.pad125 {
    font-size: 1.125em;
    vertical-align: top;
}
#contents_new li:nth-child(2),
#contents_new li:last-child {
    margin-top: 1.5em;
}
