ps {
    background: whitesmoke;
    display: inline-block;
    font-size: 0.875em;
    margin-bottom: 2.5em;
    padding: 1em 0.5em 0.75em 1.125em;
}
del {
    color: gray;
    margin-left: 0.25em;
    margin-right: 0.375em;
    text-decoration: line-throuth;
}
#old_posts_wrap {
    width: 102.5%;
    overflow: auto;
}
#old_posts {
    border-collapse: collapse;
}
#old_posts th {
    background: WhiteSmoke;
    font-size: 0.9em;
    font-weight: normal;
    padding-left: 1em;
}
#old_posts th, td {
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-width: 1px 0;
    font-size: 0.9em;
    line-height: 1.5;
    padding-top: 0.625em;
    padding-bottom: 0.5em;
    text-align: left;
    white-space: nowrap;
}
#old_posts tr td:nth-child(n+2) {
    padding-left: 1em;
}
#old_posts tr td:nth-child(2) {
    padding-right: 0.75em;
}
#tb_loading {
    color: crimson;
    margin-left: 1em;
}
br.pad {
    font-size: 1.25em;
    vertical-align: top;
}