* {
    vector-effect: non-scaling-stroke;
}

svg {
    background: whiteSmoke;
}

line {
    stroke-width: 0.5;
    stroke: red;
}

ellipse {
    fill: white;
    stroke-width: 0.5;
    stroke: black;
}

text {
    fill: gray;
    font-family: Arial;
    text-anchor: middle;
}
