<div style="border: dashed 1px gray;  display: inline-block; font-size: 4px;  margin: 1em; padding: 2em ">
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span><br>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #800080">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #008080">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #800080">&#x2588;&#x2588;</span>
<span style="color: #008080">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #008080">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #0000ff">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #008080">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff00ff">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #808000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ffff">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #808000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #808000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #808000">&#x2588;&#x2588;</span>
<span style="color: #ff0000">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #ffff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #00ff00">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #ffffff">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #c0c0c0">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #808080">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span>
<span style="color: #000000">&#x2588;&#x2588;</span><br>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span>
<span style="visibility: hidden">&#x2588;&#x2588;</span><br>
</div>
