body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;;
}
a {
    text-decoration: none;
}
div {
    border: 0;
    margin: 0;
    padding: 0;
}
table {
    border: 0;
    margin: 0;
    padding: 0;
}
img {
    border: 0;
    margin: 0;
    padding: 0;
}
#top img:hover {
    opacity: 0.5;
}
s1 {
    display: inline-block;
    line-height: 0;
    padding: 0.075em;
    text-indent: 0;
}
s2 {
    display: inline-block;
    padding: 0.15em;
    text-indent: 0;
}
.nodisp {
    display: none;
}
#logo {
    vertical-align: bottom;
}
#top_link {
    position: absolute;
    top: 70px;
    white-space: nowrap;
}
#top_link a {
    font-weight: bold;
    letter-spacing: 1px;
}
#oldsite_wrap {
    border-bottom: solid white 1px;
    font-size: 0.75em;
    height: 50px;
    line-height: 1.4;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 8px;
    white-space: nowrap;
}
#old_site_wrap > a {
    letter-spacing: 1px;
}
#oldsite_img {
    border: 0;
    height: 53px;
    position: relative;
    left: -28px;
    top: -15px;
    width: 180px;
}
#oldsite_div {
    border: solid white 1px;
    border-bottom: 0;
    overflow: hidden;
    width: 150px;
}

#atom {
    line-height: 0;
    position: absolute;
    top: 38px;
    right: calc(5px + 152px + 15px);
}

/*
#atom img {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    vertical-align: middle;
}
*/

#atom a[icon] {
    color: darkorange;
    font-size: 1.25em;
    margin-left: 2px;
}

/*
a.atom i {
    color: darkorange;
    font-size: 1.25em;
}
*/

#header {
    border-top-right-radius: 20px;
    padding: 15px 0 0 20px;
}
#header_in {
    margin: 5px 1em 0 0;
    padding: 0 0 0 10px;
}
#header_in_info {
    position: relative;
    top: 2px;
}
#main {
    line-height: 1.6;
    overflow: hidden;
}
#search {
    border: 0;
    white-space: nowrap;
    padding: 0;
}
#search_text {
    color: silver;
    padding: 4px 0 4px 4px;
}
#search_submit {
    font-size: 0.7rem;
}
#footer {
    font-size: 0.875em;
    line-height: 1.8;
    padding: 0 0 10px 20px;
}
#footer hr {
    border: 0;
    border-top: silver solid 1px;
    margin: 0 0 10px;
    padding: 0;
}
#right {
    font-size: 0.875em;
    line-height: 1.6;
    overflow: hidden;
    padding-top: calc(1em - 2px);
    padding-bottom: 1em;
    position: absolute;
    right: 0;
    /*
     * padding-left(right) should be set in style.js
     */
}
#r_recent_ul li {
    line-height: 1.5em;
    list-style-type: none;
    margin-bottom: 1.5em;
    padding-right: 0.5em;
}
.r_recent_ymd {
    color: gray;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
}
#r_recent_ul li:nth-child(n+2) .r_recent_ymd {
    border-top: dashed 1px gray;
}
#r_recent_prev {
    margin-left: 2em;
}
#r_tags_others {
    display: none;
    margin-left: 1.125em;
}
#r_tag a {
    display: block;
    margin-left: -1.5em;
    padding-left: 1.5em;
}
#r_summary {
    padding-right: 0.5em;
}
#toggleTags {
    margin-top: 1em;
    margin-bottom: 1em;
}
.r_subtitle {
    margin-top: 2em;
    margin-bottom: 0.75em;
    padding-top: 0.25em;
}
#r_link a {
    display: inline-block;
/*
    margin-top: 1px;
*/
}
