#header_in_info {
    font-size: 1.25em;
    font-weight: bold;
}

#header_in_pager {
    color: gray;
    font-size: 0.875em;
    line-height: 1.75;
    margin: 10px 0 0;
}

.header_in_pageNum {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

a.header_in_pageNum {
    text-decoration: underline;
}

#search {
    height: 25px;
    margin: 15px 15px 0 0;
    width: 300px;
}
#search_text {
    border: lightgray solid 1px;
    font-size: 0.8rem;
    margin-right: 5px;
    width: 200px;
}
#main {
    padding: 15px 5px 10px 20px;
}
.article_list {
    padding: 6px 10px 3px 7.5em;
    text-indent: -6.8em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.article_list.bgcolor {
    margin-top: 1.375em;
    margin-bottom: 1.375em;
}

#main .article_list.bgcolor:first-child {
    margin-top: 0.75em;
}

.article_date {
    margin-right: 15px;
}
.article_tags {
    color: gray;
    font-size: 0.75em;
    margin-left: 10px;
    vertical-align: 6.25%;
}
.img_in_list_wrap {
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-left: 7.5em;
}

/*
.img_in_list_wrap:hover {
    opacity: 0.5;
}
*/

#img_toggle {
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}
.week_delim {
    display: block;
    margin: 10px 0 10px 25px;
    width: 32px;
}
