#main span:empty:first-child + .img_wrap {
    margin-top: 0;
}

#main > span > img {
    margin-top: 0.5em;
}

h1 + span:empty + pre_wrap {
    margin-top: -0.5em;
}

h1 + span:empty + pre_wrap > pre {
    margin-top: 0;
}

pre_wrap {
    display: block;
    margin-top: 1em;
    white-space: nowrap;
}

pre_wrap > pre {
    margin-top: 0;
}

pre, pre.code {
    border: dotted 1px gray;
    display: inline-block;
    margin-bottom: 0;
    overflow: auto;
    padding: 0.5em 1em 0.5em;
    text-align: left;
    max-width: calc(100% - 40px);
    vertical-align: top;
}

span.select {
    cursor: pointer;
    display: inline-block;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}

cap + span:empty + div > pre {
    margin-top: 0.25em;
}

pre + span:empty + .img_wrap {
    margin-top: 1.5em;
}

cap {
    display: block;
}

ul {
    font-size: 0.875em;
    text-align: left;
}

ul.normal {
    font-size: 1em;
}

red
{
    color: rgb(255, 0, 0);
}

green
{
    color: rgb(0, 255, 0);
}

blue
{
    color: rgb(0, 0, 255);
}

crimson
{
    color: crimson;
}

br.pad2
{
    line-height: 2;
    vertical-align: top;
}

br.pad3
{
    line-height: 3;
    vertical-align: top;
}

blockquote {
    margin: 0 0 1em;
    padding-left: 2em;
}

#top_link .top_navi {
    letter-spacing: -0.125em;
    margin-left: 0;
    margin-right: 0;
}
#header {
    position: relative;
}
#header_in_date {
    color: gray;
    font-weight: bold;
    margin-right: 10px;
}
.header_in_tags {
    font-size: 0.75em;
    margin-right: 5px;
    vertical-align: 12.5%;
}
#header_in_title {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.5;
    margin: 1em 0 0;
}
#search {
    width: 100%;
}
#search_text {
    font-size: 0.875em;
    width: 85%
}
#search_submit {
    display: block;
    margin-top: 3px;
}
#forIE78 {
    color: plum;
    font-size: 0.8em;
    /* height: 30px; */ /* check later */
    position: absolute;
    right: 12px;
    top: 10px;
    text-align: right;
    width: 300px;
}
#history_link {
    color: white !important;
    display: none;
    font-size: 0.75em;
    font-weight: bold;
    margin-left: 10px;
    padding: 0.125em 0.5em 0;
    vertical-align: 12.5%;
}
#history {
    line-height: 1.6;
    margin: 15px 20px 0 0;
    overflow: hidden;
    padding: 5px 10px;
    white-Space: nowrap;
}
#history > a {
    margin-left: 1em;
}
#history > span {
    font-size: 0.9em;
}
#main {
    padding: 2em 1.75em 1em 2em;
    text-align: justify;
    text-justify: inter-ideograph;
}
div + br {
    display: none;
}
table + br {
    display: none;
}
#main > table {
    font-size: 0.875em;
    line-height: 1;
    margin: 15px 0 10px;
}

#contents_new_wrap {
    display: table;
    margin: -10px 0 -10px 1.125em;
}
#contents_new_wrap before,
#contents_new_wrap after {
    display: none;
}
#contents_new_wrap ul before,
#contents_new_wrap ul after {
    display: inline;
}
#contents_new_pre {
    font-size: 0.875em;
}
#contents_pre,
#contents_new_pre {
    border: dotted gray 1px;
    border-bottom: 0;
    font-size: 0.875em;
    margin-top: 15px;
    padding: 4px 0 2px 10px;
}

.img_wrap + span:empty + #contents_pre,
.img_wrap + span:empty + #contents_pre + #contents {
    margin-left: 1.375em;
}

#contents_new {
    margin-bottom: 0;
}

#contents,
#contents_new {
    border: dotted 1px gray;
    list-style-type: none;
    margin-top: 0;
    margin-right: 0;
    padding: 8px 1em 3px 2em;
}

#contents li,
#contents_new li {
    line-height: 1.6;
    margin-bottom: 5px;
    margin-top: 5px;
    text-indent: -1.2em;
}
#contents li:before,
#contents_new li:before {
    content: "» ";
}

h1, .h1 {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 0 5px 10px;
    text-align: left; /* makeshift up to modifing main paragraph */
}
.ps {
    text-align: right;
}
.ps > span {
    padding: 0;
    text-align: right;
}
.pad12 {
    font-size: 1.2em;
    vertical-align: top;
}
.pad16 {
    font-size: 1.6em;
    vertical-align: top;
}
.img_wrap {
    margin: 15px 0 10px;
    white-space: nowrap;
}
.img_wrap > img {
    cursor: pointer;
    vertical-align: top;
}
.img_wrap > span {
    cursor: pointer;
    padding-right: 0.25em;
}
.img_wrap.large > img {
    max-width: calc(100% - 1.75em);
}
/*
.img_wrap + div#contents {
    margin-left: 1.6em;
}
*/
.code_wrap {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0;
}
.code_label {
    border-left: dotted 1px gray;
    border-top: dotted 1px gray;
    display: table;
    font-family: monospace;
    margin: 0;
    min-width: 30em;
    padding-top: 4px;
    padding-left: 15px;
    position: relative;
    white-space: nowrap;
}
.code_label > span {
    position: absolute;
    right: 0;
}
.code_label > span > a {
    margin-left: 1em;
}
.code_label > span > a > span {
    font-size: 0.9375em;
    padding-left: 0.25em;
}
.code_body {
    margin: 0;
    padding-top: 10px;
}
.code_body.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}
.code_loading {
    border: gray dotted 1px;
    display: block;
    font-size: 0.9em;
    margin-top: 10px;
    padding: 5px;
}
.video_wrap {
    margin: 12px 0 10px;
    padding: 0;
}
.video_none {
    border: dotted 1px gray;
    color: plum;
    margin: 0 0 5px;
    padding: 10px;
    white-space: nowrap;
}
.video_wrap > video {
    display: block;
    max-width: 100%;
    margin: 0 0 5px;
}
.video_link {
    font-size: 0.75em;
    white-space: nowrap;
}
#r_bgmContainer {
    line-height: 1.4;
    margin: 2em 0 1em -1.5em;
    padding: 1em 10px 0 1.5em;
}
#r_videos {
    line-height: 1;
    overflow: visible;
    padding-left: 10px;
}
.r_video_images {
    background-size: cover;
    cursor: pointer;
    margin: 10px 0 10px 1px;
    height: 105px; /* original  90px */
    width: 140px;  /* original 120px */
}
#btn1 {
    font-size: 0.875em;
    margin: 10px 0 0 5px;
}
#btn2 {
    font-size: 0.875em;
    margin: 10px 0 0 1em;
}
/* no used
#btn3 {
    margin-top: -5px;
    margin-right: 15px;
    text-align: right;
}
#btn4 {
    position: absolute;
    left: 10000px;
    top: 0;
}
*/
#player {
    border: 0;
    display: block;
    height: 105px;
    left: -10px;
    margin: 10px 0;
    position: relative;
    width: 160px;
}

.marBoth {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.marLeft {
    margin-left: 0.2em;
}
.marRight {
    margin-right: 0.2em;
}

.links {
    padding-left: 1em;
    text-align: left;
}
.links li {
    list-style: none;
}
.links li:nth-child(n+2) {
    margin-top: 5px;
}
.links li:before {
    content: "»";
    margin-right: 0.5em;
}

/* 2016.02 */
.links.pad {
    margin-top: 2em;
}

/* 2016.06 */
link1, list1 {
    display: block;
    margin-left: 1.5em;
    margin-bottom: 0.25em;
    text-align: left;
}
link1 div:nth-child(n+2),
list1 div:nth-child(n+2) {
    margin-top: 0.25em;
}
span + list1 {
    margin-top: 1em;
}

/* 2015.08.02 */
xmp {
    margin:0;
}

/* 2015.08.04 */
.links small
{
    font-size: 0.9em;
    margin-left: 5px;
}

.white_space_normal
{
    white-space: normal;
}

/* 2015.09.08 */
ul.normal
{
    margin-bottom: 0;
    padding-left: 2em;
    text-align: left;
}

ul.normal li
{
    margin-top: 5px;
}

/* 2016.02.05 */
ul.normal.padBottom
{
    margin-bottom: 1em;
}

/* 2016.02.05 */
ul.normal.border,
ol.normal.border
{
    border: dashed black 1px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em 2.5em;
}

/* 2016.02 */
ol.normal
{
    margin-bottom: 1em;
    margin-top: 1.5em;
    text-align: left;
}

ol.normal li
{
    line-height: 1.75;
}

ol.normal li:first-child
{
    margin-top: 0.25em;
}

ol.normal li:nth-child(n+2)
{
    margin-top: 0.5em;
}

a.underImg
{
    display: inline-block;
    font-size: 0.875em;
    margin-left: 1.75em;
    margin-top: 0.25em;
}

a.underImg:before
{
    content: "» "
}

.img_wrap + span:empty + #contents_new_wrap {
/*    margin-top: 0.25em;   */
}
