body {
    padding: 5%;
}
#d1 {
    border: solid 1px gray;
    height: 200px;
    line-height: 1.5;
    overflow: hidden;
    padding: 2em;
    position: relative;
    width: 300px;
}
diagonal {
    border-style: dashed;
    border-width: 1px 0 0;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}
button {
    display: block;
    margin-top: 1em;
}
#b3 {
    display: none;
}
