.tmp_small {
    font-size: 0.875em;
    vertical-align: 0.0625em;
}

br.pad {
    font-size: 1.25em;
    vertical-align: top;
}

#main pre_wrap:last-of-type { 
    margin-bottom: 0.5em;
}