.tmp_small {
    font-size: 0.875em;
    vertical-align: 0.0625em;
}

br.pad {
    font-size: 1.25em;
    vertical-align: top;
}

pre.quote {
    white-space: normal;
}

#contents_new li:nth-child(2),
#contents_new li:nth-child(5) {
    margin-bottom: 1.5em;
}

del {
    color: gray;
    margin-left: 0.125em;
    margin-right: 0.125em;
    text-decoration: line-through;
}
